.form-container {
  display: flex;
  flex-direction: column;
  margin: 3em 8em;
  width: 25em;
  background-color: #f0f0f0;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.4);

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 0.3125em;

    .MuiTextField-root {
      width: 100%;
    }

    .MuiButton-root {
      align-self: flex-start; /* Cambio de "center" a "flex-start" */
    }
  }
}
