.pax-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    width: 100%;
    max-width: 400px;
    background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.4);
    padding: 20px; /* Añade más padding alrededor del formulario */
    border-radius: 5px;

    .form-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .MuiTextField-root {
        width: 100%;
      }
    }

    .obs-field {
      padding-top: 1em;
      width: 100%;

      .MuiTextField-root {
        width: 100%;
      }
    }

    .button-grid {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .MuiButton-root {
        margin: 0 10px;
      }
    }
  }
}
